{
    "schemes": ["https","http"],
    "swagger": "2.0",
    "info": {
        "description": "This is a sample of the KleverChain Node Server.",
        "title": "KleverChain Node",
        "contact": {},
        "version": "1.0"
    },
    "host": "node.testnet.klever.org/",
    "basePath": "",
    "paths": {
        "/address/{address}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns an accountResponse",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "account": {
                                                    "$ref": "#/definitions/data.AccountInfo"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/address/{address}/allowance": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns the rewards available for a specific asset in an account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "asset",
                        "name": "asset",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.AvailableClaimResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/address/{address}/allowance/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns the rewards available for a specific list of asset in an account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "assets (comma-separated asset IDs), e.g. KLV,KFI",
                        "name": "asset",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.AvailableClaimListResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/address/{address}/balance": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns the balance for the address parameter",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "KLV",
                        "description": "asset",
                        "name": "asset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.BalanceResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/address/{address}/kda": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns the user kda for the address parameter",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "KLV",
                        "description": "asset",
                        "name": "asset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.KDAResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/address/{address}/nonce": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns the nonce and pending transaction info for a specific account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.AccountNonceResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/asset/nft/{owner}/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Asset"
                ],
                "summary": "returns an assetResponse containing information about the asset",
                "parameters": [
                    {
                        "type": "string",
                        "description": "asset owner",
                        "name": "owner",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "asset id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "asset": {
                                                    "$ref": "#/definitions/asset.NFTAsset"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/asset/pool/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Asset"
                ],
                "summary": "returns an poolResponse containing information about the asset pool",
                "parameters": [
                    {
                        "type": "string",
                        "description": "asset id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "pool": {
                                                    "$ref": "#/definitions/kdafeespool.KDAFeesPoolData"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/asset/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Asset"
                ],
                "summary": "returns an assetResponse containing information about the asset",
                "parameters": [
                    {
                        "type": "string",
                        "description": "asset id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "asset": {
                                                    "$ref": "#/definitions/kapps.KDAData"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/block/by-hash/{hash}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Block"
                ],
                "summary": "returns the block info by hash",
                "parameters": [
                    {
                        "type": "string",
                        "description": "block hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "block": {
                                                    "$ref": "#/definitions/api.Block"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/block/by-nonce/{nonce}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Block"
                ],
                "summary": "returns the block info by nonce",
                "parameters": [
                    {
                        "type": "string",
                        "description": "block nonce",
                        "name": "nonce",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "block": {
                                                    "$ref": "#/definitions/api.Block"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/marketplace/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplace"
                ],
                "summary": "returns an marketplaceResponse containing information about the marketplace",
                "parameters": [
                    {
                        "type": "string",
                        "description": "marketplace Id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "marketplace": {
                                                    "$ref": "#/definitions/api.Marketplace"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/network/config": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Network"
                ],
                "summary": "returns metrics related to the network configuration",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "config": {
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/network/network-parameters": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Network"
                ],
                "summary": "returns the active parameters of the proposal controller",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "parameters": {
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/network/status": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Network"
                ],
                "summary": "returns metrics related to the network status (shard specific)",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/node/debug": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns the debug information after the query has been interpreted",
                "parameters": [
                    {
                        "description": "body data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/node.QueryDebugRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/node/enable-epochs": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "get node enable epochs configuration",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "config": {
                                                    "$ref": "#/definitions/config.EnableEpochsConfig"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/node/heartbeatstatus": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "respond with the heartbeat status of the node",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "heartbeats": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/definitions/data.PubKeyHeartbeat"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/node/metrics": {
            "get": {
                "tags": [
                    "Node"
                ],
                "summary": "return the data in the way that prometheus expects them",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/node/overview": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns a node overview",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/node.NodeOverviewResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/node/p2pstatus": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns the node's p2p statistics exported by a StatusMetricsHandler",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "metrics": {
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/node/peerinfo": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns the information of a provided p2p peer ID",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "info": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/definitions/core.QueryP2PPeerInfo"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/node/set-redundancy": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "set node redundancy level",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/node/statistics": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns the blockchain statistics",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "statistics": {
                                                    "$ref": "#/definitions/node.statisticsResponse"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/node/status": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns the node statistics exported by an StatusMetricsHandler without p2p statistics",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "metrics": {
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/transaction/broadcast": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transaction"
                ],
                "summary": "broadcast the TX",
                "parameters": [
                    {
                        "description": "body data",
                        "name": "BroadcastTXRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/transaction.BroadcastTXRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.BroadcastTXResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/transaction/decode": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transaction"
                ],
                "summary": "decode a given transaction",
                "parameters": [
                    {
                        "description": "body data",
                        "name": "transaction",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/transaction.Transaction"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "tx": {
                                                    "$ref": "#/definitions/data.Transaction"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/transaction/estimate-fee": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transaction"
                ],
                "summary": "returns fee details for a given transaction",
                "parameters": [
                    {
                        "description": "body data",
                        "name": "transaction",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/transaction.Transaction"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/transaction.FeesResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "some internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/transaction/pool": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transaction"
                ],
                "summary": "returns transaction memory pool",
                "parameters": [
                    {
                        "type": "string",
                        "description": "sender (optional)",
                        "name": "sender",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "pageSize",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.TransactionPoolResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "some internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/transaction/send": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transaction"
                ],
                "summary": "returns send transaction",
                "parameters": [
                    {
                        "description": "body data",
                        "name": "sendTXRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/transaction.sendTXRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.SendTXResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/transaction/simulate": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transaction"
                ],
                "summary": "simulate transaction gas consumption",
                "parameters": [
                    {
                        "description": "body data",
                        "name": "sendTXRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/transaction.sendTXRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.SimulateTransactionResponse"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/transaction/{txhash}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transaction"
                ],
                "summary": "returns transaction details for a given txhash",
                "parameters": [
                    {
                        "type": "string",
                        "description": "txhash",
                        "name": "txhash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "include execution results (default false)",
                        "name": "withResults",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "transaction": {
                                                    "$ref": "#/definitions/api.Transaction"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "some internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/validator/peers": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Validator"
                ],
                "summary": "will return the peers",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "peers": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/definitions/state.PeerAccountData"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/validator/statistics": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Validator"
                ],
                "summary": "will return the validation statistics for all validators",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "statistics": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "$ref": "#/definitions/state.ValidatorApiResponse"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "some error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/vm/hex": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "VM"
                ],
                "summary": "returns the data as bytes, hex-encoded",
                "parameters": [
                    {
                        "description": "vm request data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/vm.VMValueRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/vm/int": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "VM"
                ],
                "summary": "returns the data as big int",
                "parameters": [
                    {
                        "description": "vm request data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/vm.VMValueRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/vm/query": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "VM"
                ],
                "summary": "returns the VM output of a smart contract query",
                "parameters": [
                    {
                        "description": "vm request data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/vm.VMValueRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/definitions/vm.VMOutputApi"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/vm/string": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "VM"
                ],
                "summary": "returns the data as string",
                "parameters": [
                    {
                        "description": "vm request data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/vm.VMValueRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/shared.GenericAPIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/shared.GenericAPIResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "anypb.Any": {
            "type": "object",
            "properties": {
                "type_url": {
                    "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n  - If no scheme is provided, `https` is assumed.\n  - An HTTP GET on the URL must yield a [google.protobuf.Type][]\n    value in binary format, or produce an error.\n  - Applications are allowed to cache lookup results based on the\n    URL, or have them precompiled into a binary to avoid any\n    lookup. Therefore, binary compatibility needs to be preserved\n    on changes to types. (Use versioned type names to manage\n    breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics.",
                    "type": "string"
                },
                "value": {
                    "description": "Must be a valid serialized protocol buffer of the above specified type.",
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                }
            }
        },
        "api.Block": {
            "type": "object",
            "properties": {
                "Header": {
                    "$ref": "#/definitions/block.BlockHeader"
                },
                "ProducerSignature": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "PubKeysBitmap": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "Signature": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "TxHashes": {
                    "type": "array",
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                },
                "hash": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "transactions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api.Transaction"
                    }
                }
            }
        },
        "api.Events": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "identifier": {
                    "type": "string"
                },
                "topics": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "api.Logs": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "contractId": {
                    "type": "integer"
                },
                "events": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api.Events"
                    }
                }
            }
        },
        "api.Marketplace": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "ownerAddress": {
                    "type": "string"
                },
                "referralAddress": {
                    "type": "string"
                },
                "referralPercentage": {
                    "type": "integer"
                }
            }
        },
        "api.Transaction": {
            "type": "object",
            "properties": {
                "Block": {
                    "type": "integer"
                },
                "GasLimit": {
                    "type": "integer"
                },
                "GasMultiplier": {
                    "type": "integer"
                },
                "RawData": {
                    "$ref": "#/definitions/transaction.Transaction_Raw"
                },
                "Receipts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/transaction.Transaction_Receipt"
                    }
                },
                "Result": {
                    "$ref": "#/definitions/transaction.Transaction_TXResult"
                },
                "ResultCode": {
                    "$ref": "#/definitions/transaction.Transaction_TXResultCode"
                },
                "Signature": {
                    "type": "array",
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                },
                "hash": {
                    "type": "string"
                },
                "logs": {
                    "$ref": "#/definitions/api.Logs"
                },
                "signature": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "asset.NFTAsset": {
            "type": "object",
            "properties": {
                "AdminAddress": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "AssetType": {
                    "$ref": "#/definitions/kapps.KDAData_EnumAssetType"
                },
                "Attributes": {
                    "$ref": "#/definitions/kapps.AttributesData"
                },
                "BurnedValue": {
                    "type": "integer"
                },
                "CirculatingSupply": {
                    "type": "integer"
                },
                "ID": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "InitialSupply": {
                    "type": "integer"
                },
                "IssueDate": {
                    "type": "integer"
                },
                "Logo": {
                    "type": "string"
                },
                "MaxSupply": {
                    "type": "integer"
                },
                "MintedValue": {
                    "type": "integer"
                },
                "Name": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "OwnerAddress": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "Precision": {
                    "type": "integer"
                },
                "Properties": {
                    "$ref": "#/definitions/kapps.PropertiesData"
                },
                "Roles": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/kapps.RolesData"
                    }
                },
                "Royalties": {
                    "$ref": "#/definitions/kapps.RoyaltiesData"
                },
                "Ticker": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "URIs": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "userKDA": {
                    "$ref": "#/definitions/kapps.UserKDA"
                }
            }
        },
        "big.Int": {
            "type": "object"
        },
        "block.BlockHeader": {
            "type": "object",
            "properties": {
                "BlockRewards": {
                    "type": "integer"
                },
                "BurnedUnclaimed": {
                    "type": "integer"
                },
                "ChainID": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "Epoch": {
                    "type": "integer"
                },
                "IsEpochStart": {
                    "type": "boolean"
                },
                "KAppFees": {
                    "type": "integer"
                },
                "KAppsTrieRoot": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "Nonce": {
                    "type": "integer"
                },
                "ParentHash": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "PrevEpochStartSlot": {
                    "type": "integer"
                },
                "PrevRandSeed": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "RandSeed": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "Reserved": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "Slot": {
                    "type": "integer"
                },
                "SoftwareVersion": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "StakingRewards": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "integer"
                },
                "TrieRoot": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "TxBurnedFees": {
                    "type": "integer"
                },
                "TxCount": {
                    "type": "integer"
                },
                "TxFees": {
                    "type": "integer"
                },
                "TxRootHash": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "ValidatorsTrieRoot": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                }
            }
        },
        "config.EnableEpochs": {
            "type": "object",
            "properties": {
                "bigBucketsCompute": {
                    "type": "integer"
                },
                "claimKFI": {
                    "type": "integer"
                },
                "fixAuditChanges": {
                    "type": "integer"
                },
                "fixDelegationSameEpoch": {
                    "type": "integer"
                },
                "fixStakingBuckets": {
                    "type": "integer"
                },
                "fprcomputeAndKdaFeeFlow": {
                    "type": "integer"
                },
                "kdaFpr": {
                    "type": "integer"
                },
                "processorFlowITOPrice": {
                    "type": "integer"
                },
                "smartContracts": {
                    "type": "integer"
                }
            }
        },
        "config.EnableEpochsConfig": {
            "type": "object",
            "properties": {
                "enableEpochs": {
                    "$ref": "#/definitions/config.EnableEpochs"
                },
                "gasSchedule": {
                    "$ref": "#/definitions/config.GasScheduleConfig"
                },
                "maxNodesChangeEnableEpoch": {
                    "description": "Shuffler",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/config.MaxNodesChangeConfig"
                    }
                }
            }
        },
        "config.GasScheduleByEpochs": {
            "type": "object",
            "properties": {
                "fileName": {
                    "type": "string"
                },
                "startEpoch": {
                    "type": "integer"
                }
            }
        },
        "config.GasScheduleConfig": {
            "type": "object",
            "properties": {
                "gasScheduleByEpochs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/config.GasScheduleByEpochs"
                    }
                }
            }
        },
        "config.MaxNodesChangeConfig": {
            "type": "object",
            "properties": {
                "epochEnable": {
                    "type": "integer"
                },
                "nodesToShuffle": {
                    "type": "integer"
                }
            }
        },
        "core.QueryP2PPeerInfo": {
            "type": "object",
            "properties": {
                "addresses": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "isblacklisted": {
                    "type": "boolean"
                },
                "peertype": {
                    "type": "string"
                },
                "pid": {
                    "type": "string"
                },
                "pk": {
                    "type": "string"
                }
            }
        },
        "data.AccountInfo": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "allowance": {
                    "type": "integer"
                },
                "balance": {
                    "type": "integer"
                },
                "codeHash": {
                    "type": "string"
                },
                "codeMetadata": {
                    "type": "string"
                },
                "foundation": {
                    "type": "boolean"
                },
                "frozenBalance": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "nonce": {
                    "type": "integer"
                },
                "permissions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/data.Permissions"
                    }
                },
                "rootHash": {
                    "type": "string"
                },
                "timestamp": {
                    "$ref": "#/definitions/time.Duration"
                },
                "unfrozenBalance": {
                    "type": "integer"
                }
            }
        },
        "data.Event": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "identifier": {
                    "type": "string"
                },
                "order": {
                    "type": "integer"
                },
                "topics": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "data.KDAFee": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "kda": {
                    "type": "string"
                }
            }
        },
        "data.Logs": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "contractId": {
                    "type": "integer"
                },
                "events": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/data.Event"
                    }
                },
                "timestamp": {
                    "$ref": "#/definitions/time.Duration"
                }
            }
        },
        "data.PermissionKey": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "weight": {
                    "type": "integer"
                }
            }
        },
        "data.Permissions": {
            "type": "object",
            "properties": {
                "Threshold": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "operations": {
                    "type": "string"
                },
                "permissionName": {
                    "type": "string"
                },
                "signers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/data.PermissionKey"
                    }
                },
                "type": {
                    "type": "integer"
                }
            }
        },
        "data.PubKeyHeartbeat": {
            "type": "object",
            "properties": {
                "identity": {
                    "type": "string"
                },
                "isActive": {
                    "type": "boolean"
                },
                "maxInactiveTime": {
                    "type": "string"
                },
                "nodeDisplayName": {
                    "type": "string"
                },
                "nonce": {
                    "type": "integer"
                },
                "numInstances": {
                    "type": "integer"
                },
                "peerType": {
                    "type": "string"
                },
                "publicKey": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "string"
                },
                "totalDownTimeSec": {
                    "type": "integer"
                },
                "totalUpTimeSec": {
                    "type": "integer"
                },
                "versionNumber": {
                    "type": "string"
                }
            }
        },
        "data.TXContract": {
            "type": "object",
            "properties": {
                "parameter": {},
                "type": {
                    "$ref": "#/definitions/transaction.TXContract_ContractType"
                },
                "typeString": {
                    "type": "string"
                }
            }
        },
        "data.Transaction": {
            "type": "object",
            "properties": {
                "bandwidthFee": {
                    "type": "integer"
                },
                "blockNum": {
                    "type": "integer"
                },
                "chainID": {
                    "type": "string"
                },
                "contract": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/data.TXContract"
                    }
                },
                "data": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "hasLogs": {
                    "type": "boolean"
                },
                "hasOperations": {
                    "type": "boolean"
                },
                "hash": {
                    "type": "string"
                },
                "kAppFee": {
                    "type": "integer"
                },
                "kdaFee": {
                    "$ref": "#/definitions/data.KDAFee"
                },
                "logs": {
                    "$ref": "#/definitions/data.Logs"
                },
                "nonce": {
                    "type": "integer"
                },
                "permissionID": {
                    "type": "integer"
                },
                "receipts": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "resultCode": {
                    "type": "string"
                },
                "searchOrder": {
                    "type": "integer"
                },
                "sender": {
                    "type": "string"
                },
                "signature": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "status": {
                    "type": "string"
                },
                "timestamp": {
                    "$ref": "#/definitions/time.Duration"
                },
                "version": {
                    "type": "integer"
                }
            }
        },
        "kapps.AttributesData": {
            "type": "object",
            "properties": {
                "IsNFTMetadataChangeStopped": {
                    "type": "boolean"
                },
                "IsNFTMintStopped": {
                    "type": "boolean"
                },
                "IsPaused": {
                    "type": "boolean"
                },
                "IsRoyaltiesChangeStopped": {
                    "type": "boolean"
                }
            }
        },
        "kapps.KDAData": {
            "type": "object",
            "properties": {
                "AdminAddress": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "AssetType": {
                    "$ref": "#/definitions/kapps.KDAData_EnumAssetType"
                },
                "Attributes": {
                    "$ref": "#/definitions/kapps.AttributesData"
                },
                "BurnedValue": {
                    "type": "integer"
                },
                "CirculatingSupply": {
                    "type": "integer"
                },
                "ID": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "InitialSupply": {
                    "type": "integer"
                },
                "IssueDate": {
                    "type": "integer"
                },
                "Logo": {
                    "type": "string"
                },
                "MaxSupply": {
                    "type": "integer"
                },
                "MintedValue": {
                    "type": "integer"
                },
                "Name": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "OwnerAddress": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "Precision": {
                    "type": "integer"
                },
                "Properties": {
                    "$ref": "#/definitions/kapps.PropertiesData"
                },
                "Roles": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/kapps.RolesData"
                    }
                },
                "Royalties": {
                    "$ref": "#/definitions/kapps.RoyaltiesData"
                },
                "Ticker": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "URIs": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "kapps.KDAData_EnumAssetType": {
            "type": "integer",
            "format": "int32",
            "enum": [
                0,
                1,
                2
            ],
            "x-enum-varnames": [
                "KDAData_Fungible",
                "KDAData_NonFungible",
                "KDAData_SemiFungible"
            ]
        },
        "kapps.LastClaim": {
            "type": "object",
            "properties": {
                "Epoch": {
                    "type": "integer"
                },
                "Timestamp": {
                    "type": "integer"
                }
            }
        },
        "kapps.PropertiesData": {
            "type": "object",
            "properties": {
                "CanAddRoles": {
                    "type": "boolean"
                },
                "CanBurn": {
                    "type": "boolean"
                },
                "CanChangeOwner": {
                    "type": "boolean"
                },
                "CanFreeze": {
                    "type": "boolean"
                },
                "CanMint": {
                    "type": "boolean"
                },
                "CanPause": {
                    "type": "boolean"
                },
                "CanWipe": {
                    "type": "boolean"
                },
                "LimitTransfer": {
                    "type": "boolean"
                }
            }
        },
        "kapps.RolesData": {
            "type": "object",
[...]
