{
    "schemes": ["https","http"],
    "swagger": "2.0",
    "info": {
        "description": "Every API response is wrapped in a GenericAPIResponse object that provides a consistent structure across all endpoints.\nThe GenericAPIResponse contains fields for data, error messages, return codes, and pagination information.",
        "title": "KleverChain Proxy",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.mainnet.klever.org",
    "basePath": "",
    "paths": {
        "/v1.0/address/lastclaim": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns the last claim due list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "accounts per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns all accounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "accounts per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "start date filter",
                        "name": "startdate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "end date filter",
                        "name": "enddate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "foundation filter (true/false)",
                        "name": "foundation",
                        "in": "query"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/list/count/{rangeOfLastDays}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns accounts count",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "range of last days",
                        "name": "rangeOfLastDays",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.CountAggregation"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/list/histogram/{rangeOfLastDays}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns accounts count histogram",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "range of last days",
                        "name": "rangeOfLastDays",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/topsenders": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns top sender accounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "accounts per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/{address}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns account info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "404": {
                        "description": "account not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/{address}/allowance": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns account allowance info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "asset ID (default: KLV)",
                        "name": "asset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "asset ID (alternative parameter)",
                        "name": "assetID",
                        "in": "query"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/{address}/allowance/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns account allowance list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "asset ID filter",
                        "name": "asset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "asset ID filter (alternative parameter)",
                        "name": "assetID",
                        "in": "query"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/{address}/collection/{collectionID}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns the collection for an address",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "collection ID",
                        "name": "collectionID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "items per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/{address}/nonce": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns account nonce info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/{address}/overview": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns account overview",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.AccountOverview"
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/address/{address}/transactions": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Address"
                ],
                "summary": "returns transactions for an address",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "transactions per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "transaction type filter",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "transaction status filter",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "asset ID filter",
                        "name": "asset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "transaction nonce filter",
                        "name": "nonce",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "block number filter",
                        "name": "blockNum",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "role type (sender or receiver)",
                        "name": "role",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "start date filter",
                        "name": "startdate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "end date filter",
                        "name": "enddate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order ID filter",
                        "name": "orderid",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "marketplace ID filter",
                        "name": "marketplaceid",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order by (asc or desc, default: desc)",
                        "name": "orderBy",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "include transaction results",
                        "name": "withResults",
                        "in": "query"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/holders/{assetID}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns asset holders list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "asset id",
                        "name": "assetID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "sort by field (total/balance/frozen)",
                        "name": "sortBy",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order direction (desc/asc)",
                        "name": "orderBy",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "scroll id for pagination",
                        "name": "scrollId",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.AssetHolder"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns assets list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "filter by owner",
                        "name": "owner",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by hidden status (true/false)",
                        "name": "hidden",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by verified status (true/false)",
                        "name": "verified",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by asset",
                        "name": "asset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by asset type (Fungible/NonFungible)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by ITO status (true/false)",
                        "name": "ito",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by interest type (APRI/FPRI)",
                        "name": "interestType",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by tags (comma-separated)",
                        "name": "tags",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "minify response",
                        "name": "minify",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "include SFT assets (true/false)",
                        "name": "withSFT",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Asset"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/nft/holder/{nftID}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns holder of the given nft",
                "parameters": [
                    {
                        "type": "string",
                        "description": "nft id",
                        "name": "nftID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.AssetHolder"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/pool/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns kda pool list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "filter by owner",
                        "name": "owner",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by admin",
                        "name": "admin",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by hidden status (true/false)",
                        "name": "hidden",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by verified status (true/false)",
                        "name": "verified",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by active status (true/false)",
                        "name": "active",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by asset",
                        "name": "asset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.KDAPool"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/pool/{poolID}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns kda pool by pool id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "pool id",
                        "name": "poolID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.KDAPool"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/precisions": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns assets precisions",
                "parameters": [
                    {
                        "description": "list of asset IDs",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "assets": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "asset precisions map",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "integer"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/sft/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns all SFT by the given collection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "collection id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Asset"
                            }
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/sft/{id}/{nonce}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns the SFT asset by collection and nonce",
                "parameters": [
                    {
                        "type": "string",
                        "description": "collection id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "asset nonce",
                        "name": "nonce",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "minify response",
                        "name": "minify",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Asset"
                        }
                    },
                    "404": {
                        "description": "asset not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns the asset by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "asset id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "minify response",
                        "name": "minify",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Asset"
                        }
                    },
                    "404": {
                        "description": "asset not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/assets/{id}/{nonce}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Assets"
                ],
                "summary": "returns the NFT asset by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "nft asset id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "nft nonce",
                        "name": "nonce",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Asset"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/block/by-hash/{hash}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Block"
                ],
                "summary": "returns block info by hash",
                "parameters": [
                    {
                        "type": "string",
                        "description": "block hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.BlockApiResponse"
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "404": {
                        "description": "block not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/block/by-nonce/{nonce}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Block"
                ],
                "summary": "returns block info by nonce",
                "parameters": [
                    {
                        "type": "string",
                        "description": "block nonce",
                        "name": "nonce",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.BlockApiResponse"
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/block/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Block"
                ],
                "summary": "returns blocks list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "start date filter",
                        "name": "startdate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "end date filter",
                        "name": "enddate",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "minify response",
                        "name": "minify",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Block"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/block/statistics-by-day/{rangeOfLastDays}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Block"
                ],
                "summary": "returns block statistics by day",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "range of last days",
                        "name": "rangeOfLastDays",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.BlockStatsByDay"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/block/statistics-total/{rangeOfLastDays}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Block"
                ],
                "summary": "returns block total statistics by days",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "range of last days",
                        "name": "rangeOfLastDays",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.BlockStats"
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/epoch/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Epoch"
                ],
                "summary": "returns the epochs info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.Epoch"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/epoch/{nonce}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Epoch"
                ],
                "summary": "returns the epoch info by nonce",
                "parameters": [
                    {
                        "type": "string",
                        "description": "epoch nonce",
                        "name": "nonce",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.EpochApiResponse"
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "404": {
                        "description": "epoch not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/ito/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ITOs"
                ],
                "summary": "returns itos list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by active status (true/false)",
                        "name": "active",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by asset",
                        "name": "asset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.ITO"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/ito/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ITOs"
                ],
                "summary": "returns ito by asset id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ITO asset id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.ITO"
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "404": {
                        "description": "ITO not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/marketplaces/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplaces"
                ],
                "summary": "returns marketplaces list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "filter by owner",
                        "name": "owner",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Marketplace"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/marketplaces/nfts/activity": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplaces"
                ],
                "summary": "returns the NFT market history",
                "parameters": [
                    {
                        "type": "string",
                        "description": "NFT ID",
                        "name": "nftId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "comma-separated contract types",
                        "name": "contractType",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "sort order (asc/desc, default: desc)",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Transaction"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/marketplaces/orders/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplaces"
                ],
                "summary": "returns orders list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "marketplace id",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "owner address",
                        "name": "owner",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "NFT collection",
                        "name": "collection",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter active orders (true/false)",
                        "name": "active",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order status (fulfilled/created/canceled)",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "sort by field (collection/price/endTime)",
                        "name": "sortBy",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order direction (desc/asc)",
                        "name": "orderBy",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Order"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/marketplaces/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplaces"
                ],
                "summary": "returns marketplace by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "marketplace id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "filter by collection",
                        "name": "collection",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "sort order (asc/desc)",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Marketplace"
                        }
                    },
                    "404": {
                        "description": "marketplace not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/marketplaces/{id}/collections": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplaces"
                ],
                "summary": "returns marketplace collections",
                "parameters": [
                    {
                        "type": "string",
                        "description": "marketplace id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Asset"
                            }
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/marketplaces/{id}/collections/{asset}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplaces"
                ],
                "summary": "returns marketplace asset by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "marketplace id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "asset id",
                        "name": "asset",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.MarketplaceCollectionAsset"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/marketplaces/{id}/leaderboard": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplaces"
                ],
                "summary": "returns the marketplace leaderboard",
                "parameters": [
                    {
                        "type": "string",
                        "description": "marketplace id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "filter by asset",
                        "name": "asset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.MarketplaceLeaderboard"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/marketplaces/{id}/orders": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplaces"
                ],
                "summary": "returns orders of a collection when given nonces",
                "parameters": [
                    {
                        "type": "string",
                        "description": "collection id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "comma-separated nonce list (max 10)",
                        "name": "nonces",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter active orders (true/false)",
                        "name": "active",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Order"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/marketplaces/{id}/stats": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Marketplaces"
                ],
                "summary": "returns the marketplace stats",
                "parameters": [
                    {
                        "type": "string",
                        "description": "marketplace id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "comma-separated collection IDs (max 10)",
                        "name": "collectionIds",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "KDA asset (default: KLV)",
                        "name": "kda",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "sort by field (time or default)",
                        "name": "sortBy",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "sort order (asc/desc, default: desc)",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "time filter (7/24/30 days)",
                        "name": "lastTime",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.MarketplaceStats"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/network/network-parameters": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns network parameters",
                "responses": {
                    "200": {
                        "description": "network parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/data.Parameter"
                            }
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/node/locations": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns nodes location coordinates",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.NodeLocation"
                            }
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/node/overview": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns node overview",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.NodeOverview"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/node/peerinfo": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns peer info",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.PeerInfo"
                            }
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/node/statistics": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Node"
                ],
                "summary": "returns node statistics",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.TPS"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/proposals/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Proposals"
                ],
                "summary": "returns proposals list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit voters per page",
                        "name": "limitVoters",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "voters page number",
                        "name": "pageVoters",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by proposal status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by proposer",
                        "name": "proposer",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by parameter",
                        "name": "param",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by vote type",
                        "name": "voteType",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Proposal"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/proposals/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Proposals"
                ],
                "summary": "returns proposal info by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "proposal id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "limit voters per page",
                        "name": "limitVoters",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "voters page number",
                        "name": "pageVoters",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by vote type",
                        "name": "voteType",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Proposal"
                        }
                    },
                    "404": {
                        "description": "proposal not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/sc/invokes/{scAddress}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "SmartContract"
                ],
                "summary": "returns sc invokes by sc address",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smart contract address",
                        "name": "scAddress",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "method filter",
                        "name": "method",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "sender filter",
                        "name": "sender",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "only successful invokes",
                        "name": "onlySuccess",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit per page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/github_com_klever-io_klever-proxy-go_data.Transaction"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/sc/list": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "SmartContract"
                ],
                "summary": "returns sc deploys",
                "parameters": [
                    {
                        "type": "string",
                        "description": "page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit by page",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by deployer address",
                        "name": "deployer",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "sort by field (totalTransactions or timestamp)",
                        "name": "sortBy",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order direction (asc or desc)",
                        "name": "orderBy",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.SmartContractDeploy"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/sc/query": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "SmartContract"
                ],
                "summary": "execute sc query",
                "parameters": [
                    {
                        "description": "smart contract query data",
                        "name": "query",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/data.SCQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.VmValuesResponseData"
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/sc/statistics": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "SmartContract"
                ],
                "summary": "return most transacted smart contracts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "filter by epoch",
                        "name": "epoch",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter by nonce",
                        "name": "nonce",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/data.MostTransactedSmartContract"
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/sc/{address}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "SmartContract"
                ],
                "summary": "returns sc deploy by address",
                "parameters": [
                    {
                        "type": "string",
                        "description": "smart contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.SmartContractDeploy"
                        }
                    },
                    "404": {
                        "description": "smart contract not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/transaction/broadcast": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transaction"
                ],
                "summary": "broadcast transaction to a node",
                "parameters": [
                    {
                        "description": "transaction data to broadcast",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/data.BroadcastTransactionData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "404": {
                        "description": "not found",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    },
                    "500": {
                        "description": "internal error",
                        "schema": {
                            "$ref": "#/definitions/data.GenericAPIResponse"
                        }
                    }
                }
            }
        },
        "/v1.0/transaction/count/bymonth": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transaction"
[...]
